# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [279]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [296]:
#total schools
dist_total_schools = school_data['School ID'].count()
dist_total_schools

#total students
dist_total_students = student_data['Student ID'].count()
dist_total_students

#total budget
dist_total_budget = school_data['budget'].sum()
dist_total_budget

#average math score
dist_avg_math_score = student_data['math_score'].mean()
dist_avg_math_score

#average reading score
dist_avg_reading_score = student_data['reading_score'].mean()
dist_avg_reading_score

#overall passing rate
dist_overall_passing_rate = (dist_avg_math_score + dist_avg_reading_score)/2
dist_overall_passing_rate

#percentage of students with passing math score (>=70)
passing_math = school_data_complete.loc[school_data_complete['math_score']>=70,:]
dist_passing_math = passing_math['Student ID'].count()
dist_passing_math

#percentage of students with passing reading score (>=70)
passing_reading = school_data_complete.loc[school_data_complete['reading_score']>=70,:]
dist_passing_reading = passing_reading['Student ID'].count()
dist_passing_reading


dist_summ_df = pd.DataFrame({"Total Schools":[dist_total_schools],
                            "Total Students":[dist_total_students],
                             "Total Budget":[dist_total_budget],
                             "Average Math Score":[dist_avg_math_score],
                             "Average Reading Score":[dist_avg_reading_score],
                             "% Passing Math":[dist_passing_math/total_students*100],
                             "% Passing Reading":[dist_passing_reading/total_students*100],
                             "% Overall Passing Rate":[dist_overall_passing_rate]
                            })

dist_summ_df['Total Students']= dist_summ_df['Total Students'].map("{:,}".format)
dist_summ_df['Total Budget'] = dist_summ_df['Total Budget'].map("${:,.2f}".format)

dist_summ_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,80.431606

In [320]:
school_data.set_index("school_name", inplace=True)
school_data.head()

,School ID,type,size,budget,Per Student Budget,Total Students
school_name,,,,,,
Huang High School,0,District,2917,1910635,628.0,628.0
Figueroa High School,1,District,2949,1884411,582.0,582.0
Shelton High School,2,Charter,1761,1056600,639.0,639.0
Hernandez High School,3,District,4635,3022020,644.0,644.0
Griffin High School,4,Charter,1468,917500,625.0,625.0

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [366]:
#School summary - group school_data_complete by school_name
grp_school_name_df = school_data_complete.groupby(['school_name'])

#school total students
school_tot_students = grp_school_name_df['Student ID'].count()


#school per student budget
school_per_student_budget = grp_school_name_df['budget'].unique()/school_tot_students
school_per_student_budget



#Adding variables school_tot_students and school_per_student_budget
school_data['Per Student Budget'] = [i[0] for i in school_per_student_budget]
school_data['Total Students'] = school_tot_students
school_data.head()

#average math score
school_avg_math_score = grp_school_name_df['math_score'].mean()
school_avg_math_score


#average reading score
school_avg_reading_score = grp_school_name_df['reading_score'].mean()
school_avg_reading_score


#passing math
grp_school_pass_math = passing_math.groupby(['school_name'])
school_pass_math_percent = grp_school_pass_math['Student ID'].count()/school_data['Total Students']*100
#print(school_pass_math_percent)


#passing reading
grp_school_pass_reading = passing_reading.groupby(['school_name'])
school_pass_reading_percent = grp_school_pass_reading['Student ID'].count()/school_data['Total Students']*100
#print(school_pass_reading_percent)

#overall passing rate
school_overall_pass_rate = (school_pass_math_percent + school_pass_reading_percent)/2


#create new dataframe
school_summ_df = pd.DataFrame({"School Type":school_data['type'],
                              "Total Students":school_data['Total Students'],
                               "Total School Budget":school_data['budget'],
                               "Per Student Budget":school_data['Per Student Budget'],
                               "Average Math Score":school_avg_math_score,
                               "Average Reading Score":school_avg_reading_score,
                               "% Passing Math":school_pass_math_percent,
                               "% Passing Reading":school_pass_reading_percent,
                               "% Overall Passing Rate": school_overall_pass_rate
                              })

#format the data values
school_summ_df['Total Students'] = school_summ_df['Total Students'].map("{:,}".format)
school_summ_df['Total School Budget'] = school_summ_df['Total School Budget'].map("${:,.2f}".format)
school_summ_df['Per Student Budget'] = school_summ_df['Per Student Budget'].map("${:,.2f}".format)



school_summ_df.sort_values(by=["% Overall Passing Rate"], ascending=False).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,"1,858","$1,081,356.00",$581.00,83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,"1,635","$1,043,130.00",$583.00,83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,"2,283","$1,319,574.00",$652.00,83.274201,83.989488,93.867718,96.539641,95.203679

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [341]:

school_summ_df.sort_values(by=["% Overall Passing Rate"], ascending=True).head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,"3,999","$2,547,363.00",$600.00,76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,"2,949","$1,884,411.00",$582.00,76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,"2,917","$1,910,635.00",$628.00,76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,"4,761","$3,094,650.00",$638.00,77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,"2,739","$1,763,916.00",$578.00,77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [350]:
# 10th grade
grade_9 = school_data_complete.loc[school_data_complete['grade']=="9th",['Student ID','school_name','math_score','reading_score']]
grade_9.set_index('school_name', inplace=True)
grp_grade_9 = grade_9.groupby(['school_name'])


# 10th grade
grade_10 = school_data_complete.loc[school_data_complete['grade']=="10th",['Student ID','school_name','math_score','reading_score']]
grade_10.set_index('school_name', inplace=True)
grp_grade_10 = grade_10.groupby(['school_name'])



# 10th grade
grade_11 = school_data_complete.loc[school_data_complete['grade']=="11th",['Student ID','school_name','math_score','reading_score']]
grade_11.set_index('school_name', inplace=True)
grp_grade_11 = grade_11.groupby(['school_name'])



# 10th grade
grade_12 = school_data_complete.loc[school_data_complete['grade']=="12th",['Student ID','school_name','math_score','reading_score']]
grade_12.set_index('school_name', inplace=True)
grp_grade_12 = grade_12.groupby(['school_name'])


#DataFrames to display the math score averages
grade_math_avg_df = pd.DataFrame({"9th":grp_grade_9['math_score'].mean(),
                                  "10th":grp_grade_10['math_score'].mean(),
                                  "11th":grp_grade_11['math_score'].mean(),
                                  "12th":grp_grade_12['math_score'].mean()
                                 })
grade_math_avg_df

                            9th       10th       11th       12th
school_name
Bailey High School    77.083676  76.996772  77.515588  76.492218
Cabrera High School   83.094697  83.154506  82.765560  83.277487
Figueroa High School  76.403037  76.539974  76.884344  77.151369
Ford High School      77.361345  77.672316  76.918058  76.179963
Griffin High School   82.044010  84.229064  83.842105  83.356164

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [351]:


#DataFrames to display the reading score averages
grade_reading_avg_df = pd.DataFrame({"9th":grp_grade_9['reading_score'].mean(),
                                  "10th":grp_grade_10['reading_score'].mean(),
                                  "11th":grp_grade_11['reading_score'].mean(),
                                  "12th":grp_grade_12['reading_score'].mean()
                                 })
grade_reading_avg_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [352]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [375]:
#/////////should run this only once - need to put in a check for is-Numeric?

#Remove $ sign from per student budget column
#school_summ_df['Per Student Budget']  = pd.to_numeric(school_summ_df['Per Student Budget'].str.replace("$",""))

In [377]:
#new merged dataframe (school_data & student data)
school_data_comp2 = pd.merge(school_data, student_data, on='school_name')
school_data_comp2.head()

,school_name,School ID,type,size,budget,Per Student Budget,Total Students,Student ID,student_name,gender,grade,reading_score,math_score
0,Huang High School,0,District,2917,1910635,628.0,2917,0,Paul Bradley,M,9th,66,79
1,Huang High School,0,District,2917,1910635,628.0,2917,1,Victor Smith,M,12th,94,61
2,Huang High School,0,District,2917,1910635,628.0,2917,2,Kevin Rodriguez,M,12th,90,60
3,Huang High School,0,District,2917,1910635,628.0,2917,3,Dr. Richard Scott,M,12th,67,58
4,Huang High School,0,District,2917,1910635,628.0,2917,4,Bonnie Ray,F,9th,97,84

In [378]:
#binning 
school_data_comp2['Spending Ranges (Per Student)'] = pd.cut(school_data_comp2['Per Student Budget'], spending_bins, labels=group_names)
print(school_data_comp2.head())




#group by school name
grp_spending = school_data_comp2.groupby(['Spending Ranges (Per Student)'])

spending_df = pd.DataFrame ({"Average Math Score":grp_spending['math_score'].mean(),
                            "Average Reading Score":grp_spending['reading_score'].mean()
                            
                            })
spending_df.head()

         school_name  School ID      type  size   budget  Per Student Budget  \
0  Huang High School          0  District  2917  1910635               628.0
1  Huang High School          0  District  2917  1910635               628.0
2  Huang High School          0  District  2917  1910635               628.0
3  Huang High School          0  District  2917  1910635               628.0
4  Huang High School          0  District  2917  1910635               628.0

   Total Students  Student ID       student_name gender grade  reading_score  \
0            2917           0       Paul Bradley      M   9th             66
1            2917           1       Victor Smith      M  12th             94
2            2917           2    Kevin Rodriguez      M  12th             90
3            2917           3  Dr. Richard Scott      M  12th             67
4            2917           4         Bonnie Ray      F   9th             97

   math_score Spending Ranges (Per Student)
0          79                      $615-645
1          61                      $615-645
2          60                      $615-645
3          58                      $615-645
4          84                      $615-645

                               Average Math Score  Average Reading Score
Spending Ranges (Per Student)
<$585                                   79.307810              82.084631
$585-615                                78.199557              81.384600
$615-645                                78.912006              81.825914
$645-675                                79.272964              82.066354

## Scores by School Size

* Perform the same operations as above, based on school size.

In [381]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [389]:
school_data_complete['School Size'] = pd.cut(school_data_complete['size'], size_bins, labels=group_names)
school_data_complete.head()

grp_school_size = school_data_complete.groupby('School Size')

size_avg_math = grp_school_size['math_score'].mean()
size_avg_math

size_avg_reading = grp_school_size['reading_score'].mean()
size_avg_reading




passing_math['School Size'] = pd.cut(passing_math['size'], size_bins, labels=group_names)
passing_math.head()

grp_size_math = passing_math.groupby('School Size')
size_pass_math = grp_size_math['math_score'].count()/grp_school_size['math_score'].count() *100
size_pass_math

/Users/paulinapaul/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

School Size
Small (<1000)         93.952484
Medium (1000-2000)    93.616522
Large (2000-5000)     68.652380
Name: math_score, dtype: float64

## Scores by School Type

* Perform the same operations as above, based on school type.

In [404]:
#group by school data [type]
grp_school_type = school_data_complete.groupby('type')
grp_school_type.head()

#avg math score
type_avg_math = grp_school_type['math_score'].mean()
type_avg_math

#avg reading score
type_avg_reading = grp_school_type['reading_score'].mean()
type_avg_reading

#total students in each type
type_tot_students = grp_school_type['Student ID'].count()
type_tot_students



#group passing_math DF by type
grp_type_passing_math = passing_math.groupby('type')

#total number of students with passing math score by type
tot_pass_math = grp_type_passing_math['Student ID'].count()
tot_pass_math

type_pass_math_percent = tot_pass_math/ type_tot_students * 100 
type_pass_math_percent




#group passing_reading DF by type
grp_type_passing_reading = passing_reading.groupby('type')

#total number of students with passing math score by type
tot_pass_reading = grp_type_passing_reading['Student ID'].count()
tot_pass_reading

type_pass_reading_percent = tot_pass_reading/ type_tot_students * 100 
type_pass_reading_percent



#type summary dataframe
type_summ_df = pd.DataFrame({"Average Math Score": type_avg_math,
                            "Average Reading Score": type_avg_reading,
                             "% Passing Math": type_pass_math_percent,
                             "% Passing Reading": type_pass_reading_percent,
                             "% Overall Passing Rate": (type_pass_math_percent + type_pass_reading_percent)/2
                            })
type_summ_df.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
type,,,,,
Charter,83.406183,83.902821,93.701821,96.645891,95.173856
District,76.987026,80.962485,66.518387,80.905249,73.711818